
<header>
<nav
id="main-navbar"
class="navbar navbar-expand-lg navbar-dark custom-bg-danger fixed-top"

>
<!-- Container wrapper -->
<div class="container-fluid">
  <!-- Toggle button -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Brand -->
  <a class="navbar-brand" href="/">
    <h2>Blood Matters</h2>
  </a>

  <!-- Right links -->
  <ul class="navbar-nav ms-auto d-flex flex-row">
    <h1></h1>
        <a class="navbar-brand" href="#about-us">
            <h6>About Us</h6>
          </a>
          <a class="navbar-brand" href="/contact">
            <h6>Contact Us</h6>
          </a>
  </ul>
</div>
<!-- Container wrapper -->
</nav>
</header>   