<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>BloodMatters</title>

<!-- Fav Icon -->
<link rel="icon" href="/public/assets/images/BloodMattersLogo.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/public/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/public/assets/css/flaticon.css" rel="stylesheet">
<link href="/public/assets/css/owl.css" rel="stylesheet">
<link href="/public/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/public/assets/css/animate.css" rel="stylesheet">
<link href="/public/assets/css/nice-select.css" rel="stylesheet">
<link href="/public/assets/css/bootstrap.css" rel="stylesheet">
<link href="/public/assets/css/elpath.css" rel="stylesheet">
<link href="/public/assets/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
<link href="/public/assets/css/switcher-style.css" rel="stylesheet">
<link href="/public/assets/css/rtl.css" rel="stylesheet">
<link href="/public/assets/css/style.css" rel="stylesheet">
<link href="/public/assets/css/module-css/banner.css" rel="stylesheet">
<!-- <link href="/public/assets/css/module-css/feature.css" rel="stylesheet"> -->
<link href="/public/assets/css/module-css/about.css" rel="stylesheet">
<link href="/public/assets/css/module-css/service.css" rel="stylesheet">
<link href="/public/assets/css/module-css/funfact.css" rel="stylesheet">
<link href="/public/assets/css/module-css/chooseus.css" rel="stylesheet">
<link href="/public/assets/css/module-css/cta.css" rel="stylesheet">
<link href="/public/assets/css/module-css/materials.css" rel="stylesheet">
<link href="/public/assets/css/module-css/testimonial.css" rel="stylesheet">
<link href="/public/assets/css/module-css/project.css" rel="stylesheet">
<link href="/public/assets/css/module-css/news.css" rel="stylesheet">
<link href="/public/assets/css/module-css/subscribe.css" rel="stylesheet">
<link href="/public/assets/css/responsive.css" rel="stylesheet">

</head>

<!-- page wrapper -->
<body>

    <%- include('.././partials/index_nav_new.ejs'); %>
    <div class="boxed_wrapper ltr">

        <!-- banner-section -->
        <section class="banner-section p_relative">
            <div class="pattern-layer" style="background-image: url(/public/assets/images/shape/shape-1.png);"></div>
            <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
                <div class="slide-item p_relative">
                    <div class="shape">
                        <div class="shape-1" style="background-image: url(/public/assets/images/shape/shape-3.png);"></div>
                        <div class="shape-2 float-bob-y" style="background-image: url(/public/assets/images/shape/shape-4.png);"></div>
                        <div class="shape-3 rotate-me" style="background-image: url(/public/assets/images/shape/shape-5.png);"></div>
                    </div>
                    <div class="auto-container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                <div class="content-box p_relative d_block z_5">
                                    <span class="title-text p_relative d_block">BloodMatters</span>
                                    <h2 class="p_relative d_block">Donate Today, Save Tomorrow</h2>
                                    <p class="p_relative d_block">Take Action Today by Donating Blood and Secure a Brighter, Healthier Tomorrow for Those in Need.</p>
                                    <div class="btn-box">
                                        <a href="/views/landing/index.ejs" class="theme-btn btn-one"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                <div class="image-box p_relative">
                                    <div class="image-shape-1" style="background-image: url(/public/assets/images/shape/shape-2.png);"></div>
                                    <figure class="image clearfix"><img src="/public/assets/images/banner/Home-page-1.png" alt=""></figure>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="slide-item p_relative">
                    <div class="shape">
                        <div class="shape-1" style="background-image: url(/public/assets/images/shape/shape-3.png);"></div>
                        <div class="shape-2 float-bob-y" style="background-image: url(/public/assets/images/shape/shape-4.png);"></div>
                        <div class="shape-3 rotate-me" style="background-image: url(/public/assets/images/shape/shape-5.png);"></div>
                    </div>
                    <div class="auto-container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                <div class="content-box p_relative d_block z_5">
                                    <span class="title-text p_relative d_block">BloodMatters</span>
                                    <h2 class="p_relative d_block">Your Blood, Your Legacy</h2>
                                    <p class="p_relative d_block">Leave a Legacy of Compassion and Life by Choosing to Donate Your Precious Blood.</p>
                                    <div class="btn-box">
                                        <a href="/views/landing/index.ejs" class="theme-btn btn-one"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                <div class="image-box p_relative">
                                    <div class="image-shape-2" style="background-image: url(/public/assets/images/shape/shape-2.png);"></div>
                                    <figure class="image clearfix"><img src="/public/assets/images/banner/home-page-2.png" alt=""></figure>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="slide-item p_relative">
                    <div class="shape">
                        <div class="shape-1" style="background-image: url(/public/assets/images/shape/shape-3.png);"></div>
                        <div class="shape-2 float-bob-y" style="background-image: url(/public/assets/images/shape/shape-4.png);"></div>
                        <div class="shape-3 rotate-me" style="background-image: url(/public/assets/images/shape/shape-5.png);"></div>
                    </div>
                    <div class="auto-container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                <div class="content-box p_relative d_block z_5">
                                    <span class="title-text p_relative d_block">BloodMatters</span>
                                    <h2 class="p_relative d_block">Together We Give, Together We Live</h2>
                                    <p class="p_relative d_block">Join Hands with a Caring Community and Play a Vital Role in Preserving Lives through Blood Donation.</p>
                                    <div class="btn-box">
                                        <a href="/views/landing/index.ejs" class="theme-btn btn-one"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                <div class="image-box p_relative">
                                    <div class="image-shape-1" style="background-image: url(/public/assets/images/shape/shape-2.png);"></div>
                                    <figure class="image clearfix"><img src="/public/assets/images/banner/home-page-3.png" alt=""></figure>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->


       


        <!-- about-section -->
        <section class="about-section">
            <div class="pattern-layer" style="background-image: url(/public/assets/images/shape/shape-2.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_one">
                            <div class="content-box mr_40">
                                <div class="sec-title mb_25">
                                    <span class="sub-title">About Us</span>
                                    <h2>Welcome to BloodMatters - where every drop counts, and every life matters</h2>
                                </div>
                                <p>BloodMatters is your dedicated online platform for revolutionizing blood donation and management. We're here to simplify the process, enhance safety, and ensure that every drop of donated blood reaches those in need. Join us in our mission to save lives, one donation at a time.</p>
                                <ul class="list-style-one mb_35 clearfix">
                                    <li>Accessibility and Convenience</li>
                                    <li>Building a Vital Network</li>
                                    <li>Instant Notifications</li>
                                    <li>Completely Free</li>
                                </ul>
                                <div class="btn-box">
                                    <a href="/contact" class="theme-btn btn-one shadow"><span>Contact Us</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_one">
                            <div class="image-box pl_130 ml_30">
                                <div class="image-shape"><img src="/public/assets/images/shape/shape-3.png" alt=""></div>
                                <figure class="image image-1"><img src="/public/assets/images/resource/about-1.jpg" alt=""></figure>
                                <figure class="image image-2"><img src="/public/assets/images/resource/about-2.jpg" alt=""></figure>
                                <figure class="image image-3"><img src="/public/assets/images/resource/about-3.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->

        <!-- funfact-section -->
        <section class="funfact-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="funfact-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-15"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="4">0</span><span></span>
                            </div>
                            <h4>Connected BloodBanks</h4>
                        </div>
                    </div>
                    <div class="funfact-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-16"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="34">0</span><span>+</span>
                            </div>
                            <h4>Total Users</h4>
                        </div>
                    </div>
                    <div class="funfact-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-17"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="50">0</span><span>+</span>
                            </div>
                            <h4>Interactions</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- funfact-section end -->


        <!-- chooseus-section -->
        <section class="chooseus-section pt_100">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_two">
                            <div class="image-box">
                                <figure class="image"><img src="/public/assets/images/resource/WhyBloodMatters.png" alt=""></figure>
                                <div class="support-box">
                                    <div class="icon-box"><i class="icon-18"></i></div>
                                    <h5>For Emergency</h5>
                                    <h3><a href="tel:9845993344">9845993344</a></h3>
                                </div>
                                <div class="image-shape">
                                    <div class="shape-1" style="background-image: url(/public/assets/images/shape/shape-2.png);"></div>
                                    <!-- <div class="shape-2 rotate-me" style="background-image: url(/public/assets/images/shape/shape-8.png);"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_two">
                            <div class="content-box pt_40 pb_150 ml_30">
                                <div class="sec-title mb_30">
                                    <span class="sub-title">Why Choose Us</span>
                                    <h2>Why choose BloodMatters for Blood Request and Donation</h2>
                                </div>
                                <div class="text-box mb_35">
                                    <p>At BloodMatters, we offer a streamlined and secure platform for blood donation and management. Our innovative approach ensures efficiency, safety, and a positive impact on communities. Join us in our mission to save lives, one donation at a time.</p>
                                </div>
                                <div class="inner-box mb_35">
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fa-solid fa-bolt"></i></div>
                                        <h3>Efficiency and Convenience</h3>
                                        <p>BloodMatters streamlines the blood donation process, making it quick and hassle-free for donors and healthcare providers.</p>
                                    </div>
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fa-solid fa-building-shield"></i></div>
                                        <h3>Safety and Innovation</h3>
                                        <p>We prioritize data security and incorporate cutting-edge technology to ensure the safe and efficient management of blood donations.</p>
                                    </div>
                                    <div class="single-item">
                                        <div class="icon-box"><i class="fa-solid fa-people-roof"></i></div>
                                        <h3>Community Impact</h3>
                                        <p>By choosing BloodMatters, you're contributing to the larger goal of saving lives and improving healthcare services in your community.</p>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <a href="/contact" class="theme-btn btn-one shadow"><span>Contact Us</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- chooseus-section end -->
             
        <!-- subscribe-section -->
        <section class="subscribe-section">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(/public/assets/images/shape/shape-27.png);"></div>
                <div class="pattern-2" style="background-image: url(/public/assets/images/shape/shape-2.png);"></div>
                <div class="pattern-3" style="background-image: url(/public/assets/images/shape/shape-2.png);"></div>
                <div class="pattern-4" style="background-image: url(/public/assets/images/shape/shape-28.png);"></div>
            </div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 offset-xl-2 content-column">
                        <div class="content-box">
                            <h2>Subscribe to our <br />newsletter</h2>
                            <div class="form-inner">
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Your email" required>
                                        <button type="submit"><a href="/views/contact.ejs">Subscribe</a></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribe-section end -->


        <!-- main-footer -->
        <footer class="main-footer">
            <div class="pattern-layer" style="background-image: url(/public/assets/images/shape/shape-13.png);"></div>
            <div class="footer-top">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget mr_60">
                                <figure class="footer-logo"><a href="index.html"><img src="/public/assets/images/BloodMattersLogo.png" alt=""></a></figure>
                                <div class="text-box">
                                    <p>At BloodMatters we simplify the process, enhance safety, and ensure that every drop of donated blood reaches those in need. Join us in our mission to save lives, one donation at a time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget ml_40">
                                <div class="widget-title">
                                    <h3>Links</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="aboutus.ejs">About Us</a></li>
                                        <li><a href="team.html">Teams</a></li>
                                        <!-- <li><a href="blog.html">Blogs</a></li>
                                        <li><a href="faq.html">F A Q </a></li> -->
                                        <li><a href="contact.ejs">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget schedule-widget ml_60 mr_70">
                                <div class="widget-title">
                                    <h3>Working Hours</h3>
                                </div>
                                <div class="widget-content">
                                    <p>Please note that these hours are subject to change, so it's a good idea to check our website or contact us for the most up-to-date information. </p>
                                    <ul class="schedule-list clearfix">
                                        <li>Mon - Fri : 9:00AM - 6:00PM</li>
                                        <li>Sat : 8:00AM - 4:00PM</li>
                                        <li>Sunday : Closed</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Get In Touch</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="info-list mb_30 clearfix">
                                        <li><i class="icon-3"></i>Address: Kathmandu, Nepal</li>
                                        <li><i class="icon-2"></i>Email:  <a href="bloodmaters@gmail.com">bloodmaters@gmail.com</a></li>
                                        <li><i class="icon-4"></i>Phone:  <a href="tel:9845993344">9845993344</a></li>
                                    </ul>
                                    <ul class="social-links clearfix">
                                        <li><a href="https://www.facebook.com/profile.php?id=100093101574835"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/sujan-poudel-6aa48b278/"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom centred">
                <div class="auto-container">
                    <div class="copyright">
                        <p>Copyright 2023 by <a href="index.html">BloodMatters</a> , All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer -->



        <!--Scroll to top-->
        <div class="scroll-to-top">
            <div>
                <div class="scroll-top-inner">
                    <div class="scroll-bar">
                        <div class="bar-inner"></div>
                    </div>
                    <div class="scroll-bar-text">Go To Top</div>
                </div>
            </div>
        </div>
        <!-- Scroll to top end -->
        
    </div>


    <!-- jequery plugins -->
    <script src="/public/assets/js/jquery.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/owl.js"></script>
    <script src="/public/assets/js/wow.js"></script>
    <script src="/public/assets/js/validation.js"></script>
    <script src="/public/assets/js/jquery.fancybox.js"></script>
    <script src="/public/assets/js/appear.js"></script>
    <script src="/public/assets/js/isotope.js"></script>
    <script src="/public/assets/js/parallax-scroll.js"></script>
    <script src="/public/assets/js/jquery.nice-select.min.js"></script>
    <script src="/public/assets/js/jQuery.style.switcher.min.js"></script>

    <!-- main-js -->
    <script src="/public/assets/js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
